[{
    "gappslist": "nordics@example.com",
    "members": [
        {
        "attribute": "physicalDeliveryOfficeName",
        "value": ["Denmark", "Sweden", "Norway", "Finland"]
        }
    ]
},
{
    "gappslist": "US-IT@example.com",
    "members": [
        {
        "attribute": "physicalDeliveryOfficeName",
        "value": "US"
        },
        {
        "attribute": "Department",
        "value": "IT"
        }
    ]
},
{
    "gappslist": "IT-Tech@example.com",
    "members": [
        {
        "attribute": "LDAPQuery",
        "value": "(|(Department=Technology)(Department=IT))"
        }
    ]
}]